# maven ignore
target/
*.war
*.ear
*.zip
*.tar
*.tar.gz

# sts ignore
.git
target
.mvn
.classpath
.factorypath
.apt_generated
.project
.settings
.springBeans
.sts4-cache

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# logs #
logs

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
*.java~
*.properties~
*.xml~

# system ignore
.DS_Store
Thumbs.db
Servers
.metadata
upload
src/test/

.idea/*
